*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#adatok{
    padding: 5px;
}

#adatok h1, h2{
    margin: 0;
}

main{
    width: 850px;
    margin: auto;
}

nav ul li{
    display: inline;
}

article{
    margin-bottom: 16px;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#kepMezo{
    width: 8%;
}

td{
    text-align: center;
    vertical-align: middle;
}

.listaKep{
    width: 100px;
}

img{
    width: 100%;
    border-bottom: 1px solid gray;
}

div{
    margin-bottom: 10px;
}

.card-body{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 2px;
}

footer{
    text-align: center;
}













